process {
    executor = 'awsbatch'
    queue = '' //queue name for awsbatch
    withLabel: small {
        cpus = 1
        memory = '500 MB'
    }

    withLabel: medium {
        cpus = 2
        memory = '1 GB'
    }
    
    withLabel: large {
        cpus = 4
        memory = '4 GB'
    }


}

// Location of directory to store fastq.gz files for later processing
params.outdir = "" //S3 location for storing all outputs

// Location of csv file for use with nf-core pipeline for rna-seq data
params.csv_outfile = "" //S3 location for storing the output csv sheet needed for nfcore rnaseq

aws {
    region = '' //specify aws region
    batch.cliPath = '' //specify location of awscli installation on EC2 instance used for awsbatch, eg : /home/ec2-user/miniconda/bin/aws
    batch.maxParallelTransfers = 1
    client.maxConnections = 8
    client.maxTransferAttempts = 5
}
