process {
    executor = 'local'
    withLabel: small {
        cpus = 1
        memory = '500 MB'
    }
    withLabel: medium {
        cpus = 4
        memory = '4 GB'
    }
    withLabel: large {
        cpus = 8
        memory = '8 GB'
    }


}

// Location of directory to store fastq.gz files for later processing
params.outdir = "fastqFiles/${params.organism}"

// Location of csv file for use with nf-core pipeline for rna-seq data
params.csv_outfile = "fastqFiles/${params.organism}.csv"

aws {
    region = 'us-east-2'
    batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}
