// Name of your organism
params.organism = "Y_Lipolytica" // Example: "Escherichia_coli"

// Path to the Modulome github repository
params.modulome_dir = "/home/kkrishnan/SBRG/uploadFastqNextflow" // Example: "/home/user/modulome"

// Whether to re-run execution if the result was already found
params.force = false

// Defaults for organism directory and metadata file
params.org_dir = "/home/kkrishnan/SBRG/uploadFastqNextflow/y_lipolytica"
params.metadata = "/home/kkrishnan/SBRG/uploadFastqNextflow/metadata_yl.tsv"
