manifest {
    author = 'Joshua Burrows'
    name = 'Download SRA accessions'
    homePage = ''
    description = 'Download fastq to destination - including aws'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1'
}

params {
    trace_dir = './trace/'
}

profiles {
    
    local {
        includeConfig 'conf/user.config'
        includeConfig 'conf/local.config'
        includeConfig 'conf/docker.config'
    }

    aws {
        includeConfig 'conf/user.config'
        includeConfig 'conf/aws.config'
        includeConfig 'conf/docker.config'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash','-euo','pipefail']

// Enable process tracking
timeline {
    enabled = true
    file = "${params.trace_dir}/timeline.html"
}

report {
    enabled = true
    file = "${params.trace_dir}/report.html"
}

trace {
    enabled = true
    file = "${params.trace_dir}/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.trace_dir}/dag.dot"
    overwrite = true
}

