params {
  tracedir = './'
}

params.executor = '' //add in the name of the HPC type. Eg, 'awsbatch'
params.queue    = '' //add in the name of the job queue on your HPC/server
aws.region       = '' // if using AWS, specify region
executor.awscli  = '' // location of installation of awscli on your server if using AWS. Replace this with the appropriate cloud service cli if using a different service
