params {
  tracedir = './' // Directory where pipeline trace files will be stored
}

params.executor = 'local' // Use the local executor
process.executor = 'local' // Run processes locally

// Optional: Specify maximum resources for processes
process {
  cpus = 2          // Number of CPUs to use (adjust as needed)
  memory = '4 GB'   // Amount of memory (adjust as needed)
}

// Optional: Executor-specific settings for local execution
executor {
  name = 'local'
  cpus = '2'
  memory = '4 GB'
}
